* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #F2EEE3;
}

.holy-grail header,
.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
  padding: 20px;
}

.holy-grail header,
.holy-grail footer {
  background: #F34A4E;
}

.hg-sidebar {
  background: blue;
}

.holy-grail-content {
  color: #777;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .holy-grail-sidebar-1 {
    order: -1;
  }

  .holy-grail-body {
    flex-direction: row;
  }

  .hg-sidebar {
    flex: 0 0 260px;
  }
}
